/*Mobile-First Design*/
:root {
    --logo: #67568c;
    --hamburger: #1f1235;
   /*welcome-section*/
   --welcome-bg: #fdefe6;
   --welcome-topic: #0d0d0d;
   --welcome-subtopic: #2a2a2a;
   --welcome-btn: #ff8e3c;
   --welcome-btn-text: #0d0d0d;
   /*section*/
   /*projects-section*/
   --portfolio-bg: #0f0e17;
   --portfolio-topic: #a7a9be;
   --portfolio-subtopic: #a7a9be;
   --tile-bg: #301e4e;
   --tile-topic: #301e4e;
   --tile-p: #f4f0fc; 
   --tile-highlight: #1b1425;
   /*section*/
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family:Verdana, Geneva, Tahoma, sans-serif*/;
  }
  
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    
    /*font-family: 'Roboto', sans-serif;*/
  }
  
  li {
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  a{
    color: #ffffff;
    text-decoration: none;
  }
  
  /*-----------HAMBURGER MENU------------*/
  .hamburger{
    display: block;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 20px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--hamburger);
  }
  
  .hamburger :nth-child(2) {
    width: 30px;
  }
  
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  /*----------------------------------*/
  
  /*---------------nav-bar-------------------*/
  .nav-bar {
    z-index: 2;
    position: fixed;
    width: 100vw;
    max-height: 20%;
    min-width: 100vw;
    display: flex;
    background-color: #ffffff;
    /*transition: transform 0.3s ease-out;*/
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.226);
  }
  
  .inner-nav {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 0 24px;
  }
  
  /*.nav-bar--hidden {
    transform: translateY(-150%);
  }*/
  
  .nav-modal{
    right: -100%;
    background-color: #ffffff;
    position: absolute;
    align-self: center;
    overflow: hidden;
  }
  
  .nav-modal.active{
    width: 40vw;
    height: 50vh;
    right: 0;
    top: 12vh;
    position: fixed;
    margin-right: 8px;
    border-radius: 20px;
    transition: 0.3s;
    padding: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
  
  .nav-menu{
    align-self: center;
    flex-direction: column;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .nav-branding{
    font-size: 2em;
    font-family: 'Bigelow Rules', cursive;
    display: block;
    color: var(--logo);
  }
  
  
  
  .nav-branding :first-child {
    font-family: 'Vast Shadow', cursive;
  }
  
  .nav-item{
    text-transform:capitalize;
    padding: 2% 0;
    color: #000000;
    margin: 10% auto;
  }
  
  .nav-link{
    color: #2b2b2b;
  }
  
  
  
  /*---------------END OF nav-bar-------------------*/
  
  
  /*----------------SECTIONS------------------*/
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  /* 1. Welcome Section */
  #welcome-section {
    background-color: var(--welcome-bg);
    min-height: 100vh;
  }
  
  #welcome-section .topic {
    font-family: 'Bowlby One', cursive;
  }
  
  
  
  #welcome-section .section-container {
    display: grid;
    grid-template-areas: 'header'
      'midcard'
      'bottomcard';
  }
  
  .header {
    grid-area: header;
    width: 100%;
    height: max-content;
    text-align: center;
    margin-bottom: 4%;
  }
  
  .midcard {
    grid-area: midcard;
    background-image: url(public/header.jpg);
    min-height: 150px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  .bottomcard {
    grid-area: bottomcard;
    width: 90%;
    height: 20%;
    text-align: justify;
    margin: 3% auto 10%;
  }
  
  .panel {
    margin: 25px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  /*Icons panel*/
  .icons-panel {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /*Icons beside Resume button*/
  .panel .icons-panel i{
    color: var(--welcome-btn-text);
    display: inline-flex;
    cursor: pointer;
  }
  
  .mail-icon {
    border: transparent solid 1.5px;
    border-radius: 100px;
    border-color: var(--welcome-btn);
    background-color: var(--welcome-btn);
    width: 38px;
    height: 38px;
    padding: 5px 10px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .mail-icon:hover {
    background-color: var(--welcome-btn);
    border: 1.5px solid var(--hamburger);
    box-shadow: 0 4px var(--hamburger);
  }
  
  .see-projects {
    grid-area: see-projects;
    display: none;
  }
  
  /*.....................*/
  
  /* 2. About Section */
  #about-section {
    min-height: 45vh;
    color: var(--portfolio-subtopic);
  }
  
  #about-section .topic {
    color: var(--portfolio-topic);
  }
  
  /*.....................*/
  #about-section, #portfolio-section {
    background-color: var(--portfolio-bg);
  }
  
  /* 3. Portfolio Section */
  #portfolio-section {  
    min-height: 100vh;
    color: var(--portfolio-subtopic);
  }
  
  #portfolio-section .topic, #portfolio-section .subtopic {
    text-align: center;
  }
  
  #portfolio-section .topic {
    color: var(--portfolio-topic);
  }
  
  #portfolio-section .subtopic{
    color: var(--portfolio-subtopic);
  }
  
  #portfolio-section .section-container .projects {
    display: grid;
    gap: 40px;
    place-items: center;
  }
  
  #portfolio-section .section-container .projects .project-tile{
    background-color:#24173a;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    place-items: center; 
    justify-content: space-between;
    border-radius: 20px;
    border: 5px solid var(--hamburger);
    padding: 3% 7%;
    transition-duration: 0.4s;
  }
  
  #portfolio-section .section-container .projects .project-tile:hover{
    box-shadow: 0 15px var(--portfolio-subtopic);
    border-color: var(--portfolio-subtopic);
  }
  
  #portfolio-section .section-container .projects .project-tile img {
    height: 90%; 
    width: 40%;
    border-radius: 10px;
    object-fit: contain;
  }
  
  #portfolio-section .section-container .projects .project-tile p {
    height: 90%; 
    width: 60%;
    font-size: small;
  }
  
  
  
  .show-all {
    width: max-content;
    margin: 5% auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: transparent solid 2px #cf5600;
    padding: 10px 30px 10px 20px;
    background-color: var(--welcome-btn);
    color: var(--welcome-btn-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .show-all:hover {
    box-shadow: 0 5px #cf5600;
  }
  /*.....................*/
  
  /* 3. Connect Section */
  #connect-section {
    background-color: var(--portfolio-subtopic);
    padding-bottom: 5%;
  }
  
  #connect-section form {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 8% 8%;
    justify-items: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .row {
    margin-top: 5%;
  }
  
  #connect-section .col-25 {
    width: 100%;
  }
  
  #connect-section .col-75 {
    width: 100%;
  }
  
  
  
  label {
    display: inline-block;
    color: rgb(163, 163, 163);
    font-size: 0.7rem;
  }
  
  #connect-section input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 2px;
    border: none;
    border-bottom: solid 1px rgb(199, 199, 199);
    outline: none;
    color: #1f1235;
    font-family: inherit;
  }
  
  #connect-section textarea {
    height: 80px;
    resize: none;
  }
  
  
  /*.....................*/
  
  /*Section defaults*/
  section {
    min-height: 100vh;
  }
  
  .topic{
    color: #1f1235;
    font-size: 2rem;
  }
  
  .subtopic {
    color: #1b1425;
    font-size: 1.5rem;
  }
  
  .section-container {
    display: grid;
    align-content: center;
    margin: 3.2rem 1rem 0;
  }
  
  /*button styles*/
  button, .show-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    border-radius: 10px;
    border: transparent solid 2px;
    padding: 12px 20px 12px 12px;
    background-color: var(--welcome-btn);
    color: var(--welcome-btn-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid;
    box-shadow: 0 5px var(--hamburger);
  }
  
  button:hover {
    border: 2px solid;
    box-shadow: none;
  }
  
  
  
  .form-btn {
    margin-top: 40px;
  }
  
  .button-text {
    margin-right: 10%;
  }
  
  .button-icon {
    color: var(--tile-bg);
  }
  
  
  /*----------------END OF SECTIONS------------------*/
  
  
  
  /*----------------FOOTER------------------*/
  footer {
    background-color: #1b1425;
    color: #f4f0fc;
    padding: 5%;
  }
  
  /*media queries*/
  @media screen and (min-width: 360px) and (max-width: 430px){
    section .section-container{
      margin-top: 5rem;
    }
    .midcard {
      height: 40vh;
    }
  }
  
  @media screen and (min-width: 550px) {
    .panel {
      width: 70%;
      align-self: flex-start;
      margin-left: 0;
    }
  }
  
  /*-------------min-width: 768px--------------*/
  /*-------------ipads & tabs--------------*/
  @media screen and (min-width: 768px) {
    .nav-bar {
      justify-content: center;
    }
  
    .inner-nav {
      width: 90%;
    }
  
    .hamburger, .bar {
      display: none;
    }
  
    .nav-modal {
      position:static;
      width: 40%;
    }
  
    .nav-menu{
      display: flex;
      align-self: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
    }  
  
    .nav-item{
      border: none;
      padding: 1% 0;
      color: #000000;
    }
  
    .topic {
      font-size: 3rem;
    }
  
    .section-container {
      margin-left: 5%;
      margin-right: 5%;
    }
  
    #welcome-section .section-container {
      margin-top: 10rem;
    }  
  
    .bottomcard {
      width: 70%;
    }
  
    #welcome-section .section-container p, #about-section, #projects-section {
      font-size: 1.5em;
    }
  
    #about-section .section-container {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .project-tile {
      min-height: 2=760px;
    }
  }
  /*-------------min-width: 768px--------------*/
  
  @media screen and (min-width: 768px) and (max-width: 999px) {
    .midcard {
      min-height: 500px;
    }
  }
  
  
  /*-------------min-width: 1000px--------------*/
  @media screen and (min-width: 1000px) {
    .up {
      display: none;
    }
  
    #welcome-section .section-container {
      grid-template-areas: 
        'header . midcard'
        'bottomcard . midcard'
        '. . .'
        '. see-projects .'; 
    }
  
    .header {
      text-align: left;
      margin: 0;
      align-self: self-end;
    }
  
    .midcard {
      margin: 0;
      width: 40vw;
      min-height: 400px;
    }
  
    .bottomcard {
      width: 40vw;
      margin: 0;
    }
  
    .bottomcard .panel {
      width: 55%;
    }
  
    .see-projects {
      margin-top: 80px;
      margin-bottom: 20px;
      width: max-content;
      display: grid;
      border-radius: 10px;
      border: transparent solid 2px;
      padding: 10px 30px 10px;
      background-color: var(--welcome-btn);
      color: var(--welcome-btn-text);
      font-size: 1rem;
      font-weight: bolder;
      cursor: pointer;
      transition-duration: 0.4s;
    }
    
    .see-projects:hover {
      border: 2px solid;
      box-shadow: 0 5px var(--hamburger);
    }
  
    #portfolio-section .section-container .projects {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 40px;
      margin-top: 5%;
    }
  
    #portfolio-section .section-container .projects .project-tile {
      justify-self: start;
      height: 250px;
    }
  
    #connect-section form {
      height: 90%;
      width: 50%;
      justify-self: center;
    }
  }
  
  
  /*-------------min-width: 1000px--------------*/
  
  
  
  /*----------------END------------------*/
  /*Skeleton Loader*/
  .skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }